.Header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.heading{
    color: rgb(116, 9, 116);
}

.blank{
    margin-top: 6px;
    height: 6px;
    width: 80px;
    background-color: rgb(91, 5, 91);
    border-radius: 6px;
}